.movies__message {
  text-align: center;
}

.movies__more {
  display: block;
  width: 320px;
  margin: 0 auto 85px auto;
  border: none;
  border-radius: 6px;
  background: #F9F9F9;
  padding: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 36px;
  cursor: pointer;
}

.movies__more:hover {
  opacity: 0.8;
}

.movies__hidden {
  display: none;
}

@media screen and (max-width: 420px) {
  .movies__more {
    width: 240px;
  }
}